* {
  margin: 0;
}

body {
  background-color: #2b2e4a;
}

.app {
  display: flex;
  justify-content: space-evenly;
  background-color: #2b2e4a;
  padding: 20px;
}

.app__dropdown {
  background-color: white;
}

.MenuItem-label { color: "#ffffff" }

.app__header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
  background-color: #655989;
  border-radius: 5px;
}

.app__header > h1 {
  padding-left: 10px;
  color: #fff;
  font-size: 2rem;
}

.app__stats {
  display: flex;
  justify-content: space-between;
}

.app__right {
  color: #fff !important;
  background-color: #655989 !important;
}

.app__left {
  flex: 0.9;
}

.app__information > canvas {
  color: #fff;
}
.app__information > h3 {
  color: #fff;
  font-weight: 400;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.app__information > h3:last-of-type {
  margin-top: 1rem;
}

@media (max-width: 990px) {
  .app {
    flex-direction: column;
  }
}
